<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title th:text="${title}">Code</title>
  <link href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/styles/default.min.css"
        rel="stylesheet">
  <link href="style.css" rel="stylesheet">
</head>

<body>
<div id="content">
  <ul th:each="code : ${snippets}" th:if="${not #lists.isEmpty(snippets)}">
    <li>
      <span class="date" id="load_date" th:text="${code.getDateTimeAsString()}"></span>
      <div th:if="${code.timeRestricted}">
        <span id="time_restriction" th:text="${time}"></span>
      </div>
      <div th:if="${code.viewRestricted}">
        <span id="views_restriction" th:text="${views}"></span>
      </div>
      <div class="code">
        <pre id="code_snippet"><code class="language-java" th:text="${code.codeValue}"></code></pre>
      </div>
    </li>
  </ul>
</div>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script> <!-- deprecated but required for tests -->
<!--<script>hljs.highlightAll();</script>-->
</body>
</html>