<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title th:text="${title}">Code</title>
  <link href="style.css" rel="stylesheet">
</head>

<body>
<div id="content">
  <ul th:each="code : ${snippets}" th:if="${not #lists.isEmpty(snippets)}">
    <li>
      <span class="date" id="load_date" th:text="${code.getDateTimeAsString()}"></span>
      <div class="code">
        <pre id="code_snippet" th:text="${code.codeValue}"></pre>
      </div>
    </li>
  </ul>
</div>
</body>
</html>